body{
    margin: 0;
    background-color: rgb(0, 0, 99);
}

.header {
    width: 100%;
    background-color: rgb(0, 0, 99);
}

.nav {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

a.nav-item {
    color: white;
    text-decoration: none;
    margin-right: 20px;

}


.header {
    display: flex;
    align-items: center;
}

img {
    margin-right: 40px;
    margin-bottom: -4px;
}



.nav-item {
    position: relative;
    color: #00a650;
    /*задаём цвет ссылки*/
    cursor: pointer;
    line-height: 1;
    /*задаём высоту строки*/
    text-decoration: none;
    /*убираем подчёркивание*/

}

.nav-item:after {
    display: block;
    position: absolute;
    left: 0;
    /*изменить на right:0;, чтобы изменить направление подчёркивания */
    width: 0;
    /*задаём длинну линии до наведения курсора*/
    height: 3px;
    /*задаём ширину линии*/
    background-color: rgb(255, 187, 0);
    /*задаём цвет линии*/
    content: "";
    transition: width 0.3s ease-out;
    /*задаём время анимации*/
}

.nav-item:hover:after,
.nav-item:focus:after {
    width: 100%;
    /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
}
.route1 {
    text-align: center;
    display: inline-block;
    width: 500px;
    margin: 0;
    margin-right: 190px
}

.route2 {
    text-align: center;
    width: 500px;
    display: inline-block;
}

.routes {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: goldenrod;
    margin: 0 auto;
    margin-top: 50px;
    width: 1200px;
    padding: 0 auto;
    font-size: 20px;
    margin-bottom: 50px;
}
@media screen and (max-width:999px) {
    .routes {
        width: 400px;
    }

    .route1 {
        margin-right: 0px;
        margin-bottom: 30px;
    }

}
.description {
    margin-right: 5px;
    margin-left: 5px;
}

h2 {
    margin: 0 auto;
    margin-bottom: -7px;
}
.owner{
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 12px;
}
@media screen and (max-width: 1200px){
    .routes{
        width: 500px;
    }
}
@media screen and (max-width: 832px)
{
    .nav{
        white-space: pre-line;
        padding-bottom: 10px;
    }
    .nav a{
        margin-bottom: 7px;
    }
}